@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: #090b1a;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statscard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #1b1938;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .wrapper {
    padding: 20px;
  }
  .statscard {
    max-width: 360px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.infoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 120px 0px 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 400px) {
  .infoblock {
    padding: 30px 30px;
    gap: 40px;
    text-align: center;
  }
}

.textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lable {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.2px;
  word-spacing: 4px;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 400px) {
  .lable {
    font-size: 24px;
  }
}

.insight {
  color: #aa5cdb;
}

.description {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  line-height: 26px;
  font-family: "Lexend Deca", sans-serif;
}

@media (max-width: 400px) {
  .description {
    font-size: 14px;
  }
}

.statsblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

@media (max-width: 400px) {
  .statsblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stats_heading {
  display: block;
  color: white;
  font-size: 26px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.statsblock__stats {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

@media (max-width: 400px) {
  .stats_heading {
    font-size: 18px;
  }
  .statsblock__stats {
    font-size: 12px;
  }
}

.mainimage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  position: relative;
}

.mainimage::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(122, 0, 197, 0.5);
  border-radius: 0px 10px 10px 0px;
}

.image {
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 400px) {
  .image {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .mainimage::before {
    border-radius: 10px 10px 0px 0px;
  }
}

.attribution {
  text-align: center;
  color: white;
}

.attribution a {
  color: #aa5cdb;
}
